/* Add this to your style.css file */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    margin: 0;
    padding: 0;
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    max-width: 400px;
    margin: 50px auto;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.container:hover {
    background: linear-gradient(circle, #555 0%, #000 100%);
}

h1, label {
    color: #000; /* Set text color to black for h1 and label */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.result a {
    color: #ffd700;
    font-weight: bold;
}
