<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>URL Shortener</title>
</head>
<body>


    <div class="container">
        <h1>URL Shortener</h1>
        <form method="post" action="/">
            <label for="url">Enter the URL:</label>
            <input type="text" name="url" id="url" placeholder="Enter the URL" required>
            <button type="submit">Shorten</button>
        </form>
        {% if original_url and short_url %}
            <div class="result">
                <p>Original URL: <a href="{{ original_url }}">{{ original_url }}</a></p>
                <p>Short URL: <a href="{{ short_url }}">{{ short_url }}</a></p>
            </div>
        {% endif %}
    </div>

</body>
</html>